{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <h1>Users</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Useremail</th>
                <th>Status</th>
                <th>Img</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.useremail }}</td>
                <td>{{ user.status }}</td>
                <td>{{ user.img }}</td>
                <td>
                    <a href="{{ path('users_show', {'userid': user.userid}) }}">show</a>
                    <a href="{{ path('users_edit', {'userid': user.userid}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('users_new') }}">Create new</a>
{% endblock %}
